.main{
    background-image:url("https://images.pexels.com/photos/2098428/pexels-photo-2098428.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size:cover;
    background-position:center;
    width:98%;
    height:100vh;
    margin:auto;
    border:10px solid black;
  }
  img{
    width:40%;  
    position:relative;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    border: 5px ridge black;
    border-radius:50px;
  }
  .header{
    position:absolute;
    left:42%;
    top:45%;
    font-size:20px;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
  color: gray;
  }
  
  